/* --- Imports --- */
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* --- Set variables --- */
/* --- Reset the css --- */
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: Oswald;
}

h1 {
  font-size: 1.375em;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #fff0aa;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}

.d-none {
  display: none !important;
}

.profile-panel {
  background-color: #764b8e;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.profile-panel img {
  object-fit: cover;
  width: 100%;
  height: 380px;
  object-position: 100% 15%;
}
.profile-panel h2 {
  font-size: 1.25em;
  line-height: 30px;
  color: #d4c26a;
  align-items: center;
  text-align: center;
}
.profile-panel h1,
.profile-panel h2 {
  margin-top: 10px;
}
.profile-panel .profile-infos {
  padding: 15px 10px;
  max-height: 5000px;
  transition: max-height 0.7s ease-in-out;
  overflow: hidden;
}
.profile-panel .profile-infos.hidden {
  max-height: 0;
}
.profile-panel .profile-infos .personal-info,
.profile-panel .profile-infos .contact-info {
  margin-top: 10px;
}
.profile-panel .profile-infos h3 {
  font-size: 1.5em;
  line-height: 36px;
  color: #a5c663;
}
.profile-panel .profile-infos .info {
  padding: 2px;
  display: flex;
  justify-content: space-between;
}
.profile-panel .profile-infos .info > span:first-child {
  color: #d4ee9f;
}
.profile-panel .profile-infos .info a {
  text-decoration: none;
}
.profile-panel .profile-infos .info i {
  color: #d4ee9f;
  line-height: 23px;
  margin-right: 5px;
}
.profile-panel .profile-infos .info span {
  color: white;
}
.profile-panel .profile-infos .info span > span {
  font-size: 1em;
}
.profile-panel .profile-infos .info span,
.profile-panel .profile-infos .info i {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 30px;
}
.profile-panel button {
  background-color: transparent;
  margin: auto;
  display: flex;
}
.profile-panel button span {
  font-size: 1.5em;
  line-height: 30px;
  color: #fff0aa;
}
.profile-panel button .collapse-button {
  color: #fff0aa;
  margin: auto;
  font-size: 2em;
}
.profile-panel button .collapse-button.fa-chevron-down {
  margin-left: 5px;
}
.profile-panel button .collapse-button.fa-chevron-up {
  padding-bottom: 10px;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills .skill {
  background-color: #9775aa;
  width: 160px;
  height: 160px;
  border-radius: 25px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 3px 4px rgba(38, 3, 57, 0.25);
}
.skills .skill img {
  width: 75%;
  height: 75%;
  object-fit: contain;
}
.skills .skill:last-child {
  margin-bottom: 0;
}

.experiences {
  position: relative;
  padding-top: 20px;
  padding-left: 50px;
}
.experiences.hidden {
  padding: 0;
}
.experiences::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #7b9f35;
  top: 35px;
  bottom: 35px;
  left: 20px;
}
.experiences .experience {
  margin-bottom: 50px;
  position: relative;
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
}
.experiences .experience.left .content, .experiences .experience.right .content {
  border-left: solid 5px #7b9f35;
  position: relative;
}
.experiences .experience:last-child {
  margin-bottom: 0;
}
.experiences .experience .content {
  position: relative;
  padding: 5px 10px;
}
.experiences .experience .content h3 {
  font-weight: 600;
  font-size: 0.875em;
  line-height: 21px;
  letter-spacing: 0.05em;
}
.experiences .experience .content span {
  font-size: 0.85em;
  line-height: 18px;
  letter-spacing: 0.03em;
}
.experiences .experience .content::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #7b9f35;
  top: 35px;
  bottom: 35px;
  left: -35px;
}
.experiences .experience .content .experience-description {
  padding: 10px 0;
  line-height: 21px;
}
.experiences .experience .content .experience-description p {
  padding: 5px 0;
}
.experiences .experience::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #a5c663;
  box-shadow: 3px 2px 4px rgba(53, 79, 0, 0.25);
  top: 15px;
  left: -50px;
  border-radius: 50%;
  z-index: 1;
}

.portfolio-cards .card {
  display: flex;
  flex-direction: column;
  background-color: #582a72;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 10px 0;
  padding-bottom: 40px;
}
.portfolio-cards .card:last-child {
  margin-bottom: 0;
}
.portfolio-cards .card img {
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.portfolio-cards .card h3 {
  font-size: 1.625em;
  line-height: 39px;
  color: #d4c26a;
}
.portfolio-cards .card button {
  margin: auto auto 0 auto;
  width: 140px;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.05em;
  color: #d4ee9f;
  background: #3d1255;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}
.portfolio-cards .card h3,
.portfolio-cards .card span {
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 0 10px;
}
.portfolio-cards .card span,
.portfolio-cards .card button {
  font-size: 1.375em;
  line-height: 33px;
}
.portfolio-cards .card span {
  color: #fff0aa;
  margin-bottom: 40px;
}

body.modal-opened {
  overflow: hidden;
}
body > .modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #260339;
  background-color: rgba(38, 3, 57, 0.6);
  /* Add Animation */
}
body > .modal.hidden {
  display: none;
}
body > .modal > .modal-content {
  position: relative;
  background-color: #efefef;
  margin: 100px auto;
  border: 1px solid #806d15;
  width: 80%;
  box-shadow: 2px 3px 4px rgba(38, 3, 57, 0.25);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: #fff0aa;
}
body > .modal > .modal-content > .modal-header {
  padding: 2px 16px;
  background-color: #9775aa;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body > .modal > .modal-content > .modal-header > .close {
  font-size: 3em;
  font-weight: bold;
}
body > .modal > .modal-content > .modal-header > .close:hover, body > .modal > .modal-content > .modal-header > .close:focus {
  color: #aa9739;
  text-decoration: none;
  cursor: pointer;
}
body > .modal > .modal-content > .modal-body {
  padding: 25px 16px;
  color: #000;
  font-size: 1.2em;
}
body > .modal > .modal-content > .modal-body i, body > .modal > .modal-content > .modal-body a {
  color: #806d15;
}
body > .modal > .modal-content > .modal-body > .image-container > iframe {
  height: 150px;
}
body > .modal > .modal-content > .modal-body > .video-container, body > .modal > .modal-content > .modal-body > .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
body > .modal > .modal-content > .modal-body > .video-container img,
body > .modal > .modal-content > .modal-body > .video-container iframe, body > .modal > .modal-content > .modal-body > .image-container img,
body > .modal > .modal-content > .modal-body > .image-container iframe {
  width: 90%;
}
body > .modal > .modal-content > .modal-body > .video-container i, body > .modal > .modal-content > .modal-body > .image-container i {
  margin-top: 5px;
}
body > .modal > .modal-content > .modal-footer {
  padding: 2px 16px;
  background-color: #9775aa;
}
body > .modal > .modal-content > .modal-footer.hidden {
  display: none;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

body {
  background-color: #efefef;
}

section {
  padding: 10px;
}
section h2 {
  font-weight: 600;
  font-size: 1.625em;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #764b8e;
  border-bottom: solid #333;
  display: inline-flex;
  width: 100%;
  cursor: pointer;
}
section h2 .collapse-button {
  margin-left: auto;
  align-self: center;
}
section .skills, section .experiences, section .portfolio-cards {
  max-height: 5000px;
  transition: max-height 0.7s ease-in-out;
  overflow: hidden;
}
section .skills.hidden, section .experiences.hidden, section .portfolio-cards.hidden {
  max-height: 0;
}

@media only screen and (min-width: 768px) {
  .profile-panel {
    min-height: auto;
    flex-direction: row;
  }
  .profile-panel > img, .profile-panel > div {
    width: 50%;
  }
  .profile-panel > img {
    height: 415px;
  }
  .profile-panel .profile-infos.hidden {
    max-height: 5000px;
  }
  .profile-panel button {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .portfolio-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .portfolio-cards .card {
    min-width: 300px;
    width: 350px;
    margin: 10px;
  }
  .portfolio-cards .card:last-child {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .modal > .modal-content > .modal-body > .video-container > iframe {
    height: 300px;
  }
}
@media only screen and (min-width: 1082px) {
  .profile-panel {
    flex-direction: column;
    height: 100%;
    grid-area: profile;
  }
  .profile-panel > img, .profile-panel > div {
    width: auto;
  }
}
@media only screen and (min-width: 1082px) {
  .experiences, .experiences.hidden {
    padding-top: 20px;
    padding-left: 50px;
  }
}
@media only screen and (min-width: 1082px) {
  .modal > .modal-content > .modal-body > .video-container > iframe {
    height: 450px;
  }
}
@media only screen and (min-width: 1082px) {
  body {
    display: grid;
    grid-template-columns: 380px auto;
    grid-template-areas: "profile skills" "profile experience" "profile portfolio";
  }
  body section.skills-section {
    grid-area: skills;
  }
  body section.experience-section {
    grid-area: experience;
  }
  body section.portfolio-section {
    grid-area: portfolio;
  }
  body section.skills-section h2, body section.experience-section h2, body section.portfolio-section h2 {
    cursor: auto;
  }
  body section.skills-section h2 i, body section.experience-section h2 i, body section.portfolio-section h2 i {
    display: none;
  }
  body section.skills-section div.hidden, body section.experience-section div.hidden, body section.portfolio-section div.hidden {
    max-height: 5000px;
  }
}
@media only screen and (min-width: 1200px) {
  .experiences, .experiences.hidden {
    padding-top: 20px;
    padding-left: 0;
    width: 800px;
    margin: auto;
  }
  .experiences::after, .experiences.hidden::after {
    left: 50%;
    top: 0;
    bottom: 0;
  }
  .experiences .experience, .experiences.hidden .experience {
    width: 325px;
  }
  .experiences .experience.left, .experiences.hidden .experience.left {
    left: calc(800px / 2 + 32px);
  }
  .experiences .experience.left .content, .experiences.hidden .experience.left .content {
    border-left: solid 5px #7b9f35;
  }
  .experiences .experience.right, .experiences.hidden .experience.right {
    left: calc(800px / 2 - 325px - 32px);
  }
  .experiences .experience.right .content, .experiences.hidden .experience.right .content {
    border-left: none;
    border-right: solid 5px #7b9f35;
  }
  .experiences .experience.right .content::before, .experiences.hidden .experience.right .content::before {
    left: auto;
    right: -35px;
  }
  .experiences .experience.right::before, .experiences.hidden .experience.right::before {
    left: auto;
    right: -50px;
  }
}
@media only screen and (min-width: 1200px) {
  .modal > .modal-content > .modal-body > .video-container > iframe {
    height: 600px;
  }
}
/* --- Importing styles --- */

/*# sourceMappingURL=style.css.map */
