/* --- Imports --- */
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/* --- Set variables --- */
/* --- Reset the css --- */
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  font-family: Oswald;
}

h1 {
  font-size: 1.375em;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #fff0aa;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}

.profile-panel {
  background-color: #764b8e;
  display: flex;
  flex-direction: column;
}
.profile-panel img {
  object-fit: cover;
  width: 100%;
  height: 380px;
  object-position: 100% 0;
  object-position: 0 top;
}
.profile-panel h2 {
  font-size: 1.25em;
  line-height: 30px;
  color: #d4c26a;
  align-items: center;
  text-align: center;
}
.profile-panel h1,
.profile-panel h2 {
  margin-top: 10px;
}
.profile-panel .profile-infos {
  padding: 15px 10px;
}
.profile-panel .profile-infos .personal-info, .profile-panel .profile-infos .contact-info {
  margin-top: 10px;
}
.profile-panel .profile-infos h3 {
  font-size: 1.5em;
  line-height: 36px;
  color: #a5c663;
}
.profile-panel .profile-infos .info {
  padding: 2px;
  display: flex;
  justify-content: space-between;
}
.profile-panel .profile-infos .info span:first-child {
  color: #7b9f35;
}
.profile-panel .profile-infos .info i {
  color: #d4ee9f;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: 5px;
}
.profile-panel .profile-infos .info span:last-child {
  color: white;
}
.profile-panel .profile-infos .info span,
.profile-panel .profile-infos .info i {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 30px;
}
.profile-panel .collapse-button {
  color: #d4c26a;
  margin: auto;
  margin-bottom: 15px;
  font-size: 2em;
}

.skill {
  background-color: #9775aa;
  width: 160px;
  height: 160px;
  border-radius: 25px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 3px 4px rgba(38, 3, 57, 0.25);
}
.skill img {
  width: 75%;
  height: 75%;
  object-fit: contain;
}
.skill:last-child {
  margin-bottom: 0;
}

section {
  padding: 10px;
}
section h2 {
  font-weight: 600;
  font-size: 1.625em;
  line-height: 39px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #764b8e;
  border-bottom: solid #333;
}
section .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experiences {
  position: relative;
  padding-top: 20px;
  padding-left: 50px;
}
.experiences::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #7b9f35;
  top: 35px;
  bottom: 35px;
  left: 20px;
}
.experiences .experience {
  margin-bottom: 50px;
  position: relative;
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
}
.experiences .experience.left .content, .experiences .experience.right .content {
  border-left: solid 5px #7b9f35;
  position: relative;
}
.experiences .experience:last-child {
  margin-bottom: 0;
}
.experiences .experience .content {
  position: relative;
  padding: 5px 10px;
}
.experiences .experience .content h3 {
  font-weight: 600;
  font-size: 0.875em;
  line-height: 21px;
  letter-spacing: 0.05em;
}
.experiences .experience .content span {
  font-size: 0.75em;
  line-height: 18px;
  letter-spacing: 0.05em;
}
.experiences .experience .content::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #7b9f35;
  top: 35px;
  bottom: 35px;
  left: -35px;
}
.experiences .experience::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #a5c663;
  box-shadow: 3px 2px 4px rgba(53, 79, 0, 0.25);
  top: 15px;
  left: -50px;
  border-radius: 50%;
  z-index: 1;
}

body {
  background-color: #efefef;
}

/* --- Importing styles --- */

/*# sourceMappingURL=style.css.map */
