/* --- Font --- */
@font-face {
	font-family: 'Oswald';
	src: url('../css/fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
}
/* --- Set variables --- */
$primary-1: #9775aa;
$primary-2: #764b8e;
$primary-3: #582a72;
$primary-4: #3d1255;
$primary-5: #260339;
$secondary-1: #d4ee9f;
$secondary-2: #a5c663;
$secondary-3: #7b9f35;
$secondary-4: #567714;
$secondary-5: #354f00;
$tertiary-1: #fff0aa;
$tertiary-2: #d4c26a;
$tertiary-3: #aa9739;
$tertiary-4: #806d15;
$tertiary-5: #554600;
/* --- Reset the css --- */
* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	list-style: none;
	border: 0;
	font-family: Oswald;
}

h1 {
	font-size: 1.375em;
	line-height: 33px;
	letter-spacing: 0.05em;
	color: $tertiary-1;
	text-transform: uppercase;
	align-items: center;
	text-align: center;
}

.d-none {
	display: none !important;
}
