/* Imports */
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* Reset the css */
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

/* Set variables */
:root {
  --primary-1: #9775aa;
  --primary-2: #764b8e;
  --primary-3: #582a72;
  --primary-4: #3d1255;
  --primary-5: #260339;
  --secondary-1: #d4ee9f;
  --secondary-2: #a5c663;
  --secondary-3: #7b9f35;
  --secondary-4: #567714;
  --secondary-5: #354f00;
  --tertiary-1: #fff0aa;
  --tertiary-2: #d4c26a;
  --tertiary-3: #aa9739;
  --tertiary-4: #806d15;
  --tertiary-5: #554600;
}

/* Elements style */
hr.primary {
  height: 1.5px;
  background-color: var(--tertiary-3);
  margin: 5px 20px;
}

hr.secondary {
  height: 1px;
  background-color: var(--secondary-2);
  margin: 5px;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  text-align: left;
}

h1 {
  font-size: 36px;
  text-align: center;
  color: var(--tertiary-1);
}

h2 {
  font-size: 24px;
  color: var(--tertiary-1);
}

h3 {
  font-size: 18px;
  color: var(--tertiary-2);
  margin-right: 5px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: justify;
}

body {
  height: 100vh;
  background-color: var(--primary-4);
}

header {
  background-color: var(--primary-3);
  background-image: url(Assets/header_background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 25%;
  display: flex;
}

section {
  background-color: var(--primary-1);
  padding: 25px;
  margin: 75px auto;
  margin-top: 0;
  width: 80%;
}

section h2 {
  margin: 0 10px;
  border-bottom: 1.5px solid var(--tertiary-3);
  flex-grow: 1;
}

.user-name > h1 {
  line-height: 38px;
  margin: 0 10px;
}

.user-image {
  background-color: var(--primary-2);
}

.user-image > img {
  height: 100%;
}

.user {
  flex-grow: 1;
}

.user-name {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  margin-left: 20px;
}

.user-icon {
  background-image: url(Assets/user_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  font-size: 40px;
  display: block;
}

.user-name > span {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: var(--tertiary-2);
  line-height: 22px;
}

.user > p {
  margin: 4px 20px;
}

.content {
  background-color: var(--primary-4);
  background-image: url(Assets/background.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 75px 0;
}

.experience-icon {
  background-image: url(Assets/experience_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  font-size: 40px;
  display: block;
}

.experience-title,
.project-title {
  display: flex;
}

.experience,
.project {
  margin-top: 20px;
  margin-left: 50px;
}

.experience > p,
.project > p {
  margin: 10px;
}

.experience-name {
  display: flex;
  align-items: flex-end;
}

.experience-name > span {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: var(--tertiary-1);
}

.project-icon {
  background-image: url(Assets/project_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  font-size: 40px;
  display: block;
}
