/* Imports */
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* Reset the css */
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

/* Set variables */
:root {
  --primary-1: #9775aa;
  --primary-2: #764b8e;
  --primary-3: #582a72;
  --primary-4: #3d1255;
  --primary-5: #260339;
  --secondary-1: #d4ee9f;
  --secondary-2: #a5c663;
  --secondary-3: #7b9f35;
  --secondary-4: #567714;
  --secondary-5: #354f00;
  --tertiary-1: #fff0aa;
  --tertiary-2: #d4c26a;
  --tertiary-3: #aa9739;
  --tertiary-4: #806d15;
  --tertiary-5: #554600;
}

/* Elements style */
hr {
  margin: 5px 0;
}

hr.primary {
  height: 1.5px;
  background-color: var(--tertiary-3);
}

hr.secondary {
  height: 1px;
  background-color: var(--secondary-2);
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  text-align: left;
}

h1 {
  font-size: 36px;
  text-align: center;
  color: var(--tertiary-1);
}

h2 {
  font-size: 24px;
  color: var(--tertiary-1);
}

h3 {
  font-size: 18px;
  color: var(--tertiary-2);
  margin-right: 5px;
}

p,
ul {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: justify;
}

p {
  line-height: 20px;
}

a {
  text-decoration: none;
  color: var(--tertiary-1);
  word-break: break-all;
}

a:hover {
    color: var(--tertiary-2);
  }

i {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  color: var(--tertiary-1);
  word-break: break-all;
}

body {
  height: 100vh;
  background-color: var(--primary-4);
}

header {
  background-color: var(--primary-3);
  background-image: url(Assets/header_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  min-height: 25%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

section {
  background-color: var(--primary-1);
  padding: 25px;
  margin: 75px auto;
  margin-top: 0;
  width: 80%;
}

section h2 {
  margin-left: 10px;
  border-bottom: 1.5px solid var(--tertiary-3);
  flex-grow: 1;
}

/* Classes style */
.user-image {
  background-color: var(--primary-2);
  flex-grow: 1;
  display: flex;
}

.user-image > img {
  margin: auto;
  vertical-align: middle;
}

.user {
  flex-grow: 2;
  padding: 20px;
}

.user > p,
.user > ul {
  margin: 4px 0;
}

.user > ul > li > span {
  font-weight: bold;
  color: var(--tertiary-2);
  margin-right: 5px;
}

.user-icon {
  background-image: url(Assets/user_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  font-size: 40px;
  display: block;
}

.user-name,
.user-name > div {
  display: flex;
  align-items: flex-end;
}

.user-name > div > h1 {
  line-height: 38px;
  margin: 0 10px;
}

.user-name > div > span {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: var(--tertiary-2);
  line-height: 22px;
}

.content {
  background-color: var(--primary-4);
  background-image: url(Assets/background.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 75px 0;
}

.image-container, .video-container {
  width: 75%;
  margin: auto;
}

.image-container > img {
  width: 100%;
  margin-top: 20px;
  background-color: var(--primary-5);
}

.video-container > iframe {
  width: 560px;
  height: 315px;
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: var(--primary-5);
}

.image-container > i,
.video-container > i {
  text-align: center;
  display: block;
}

.experience-icon {
  background-image: url(Assets/experience_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  font-size: 40px;
  display: block;
}

.experience-title,
.project-title {
  display: flex;
}

.experience,
.project {
  margin-top: 20px;
  margin-left: 50px;
}

.experience > p,
.project > p {
  margin: 10px;
}

.experience-name {
  display: flex;
  align-items: flex-end;
}

.experience-name > span {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: var(--tertiary-1);
}

.project-icon {
  background-image: url(Assets/project_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  font-size: 40px;
  display: block;
}

/* Modal content */
.modal-triger {
  cursor: pointer;
  transition: 0.3s;
}

.modal-triger:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--primary-5);
  background-color: rgba(38, 3, 57, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

#caption {
    font-family: "Oswald", sans-serif;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: var(--tertiary-2);
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--secondary-1);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--secondary-3);
  text-decoration: none;
  cursor: pointer;
}

/* Mobile style */
@media screen and (max-width: 768px) {
  p,
  ul {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  header {
    flex-direction: column;
  }

  section {
    width: auto;
  }

  .user-name {
    align-items: center;
  }

  .user-name > div {
    flex-direction: column;
    align-items: baseline;
  }

  .user-name > div > span {
    margin-left: 10px;
  }

  .experience > p,
  .project > p {
    margin: 0;
  }

  .experience-name {
      flex-direction: column;
      align-items: flex-start;
  }

  .image-container > i {
      font-size: 14px;
  }

  .modal-content {
    width: 100%;
  }
}

/* Tablet style */
@media screen and (max-width: 992px) {
  .user-name > div > h1 {
    font-size: 24px;
    line-height: 28px;
  }

  .video-container > iframe {
    width: 100%;
    height: auto;
  }
}
