@import 'tailwindcss';

@theme {
	--font-display: 'Oswald', sans-serif;
	--color-light-60: var(--color-purple-100);
	--color-light-30: rgb(18 0 37);
	--color-light-10: var(--color-amber-600);
	--color-light: var(--color-purple-50);
	--color-light-default: white;
	--color-dark-60: var(--color-slate-800);
	--color-dark-30: var(--color-slate-900);
	--color-dark-10: var(--color-amber-600);
	--color-dark-body: var(--color-slate-950);
	--color-dark-default: white;
	--breakpoint-desktop: 1216px;
	--container-desktop: 1216px;
}
