@use '../../global';

body {
	&.modal-opened {
		overflow: hidden;
	}

	& > .modal {
		&.hidden {
			display: none;
		}
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: global.$primary-5;
		background-color: transparentize(global.$primary-5, .4);

		& > .modal-content {
			$modal-padding-y: 2px;
			$modal-padding-x: 16px;

			position: relative;
			background-color: #efefef;
			margin: 100px auto;
			border: 1px solid global.$tertiary-4;
			width: 80%;
			box-shadow: 2px 3px 4px rgba(38, 3, 57, 0.25);
			-webkit-animation-name: animatetop;
			-webkit-animation-duration: 0.4s;
			animation-name: animatetop;
			animation-duration: 0.4s;
			color: global.$tertiary-1;

			& > .modal-header {
				padding: $modal-padding-y $modal-padding-x;
				background-color: global.$primary-1;
				display: flex;
				align-items: center;
				justify-content: space-between;

				& > .close {
					font-size: 3em;
					font-weight: bold;

					&:hover,
					&:focus {
						color: global.$tertiary-3;
						text-decoration: none;
						cursor: pointer;
					}
				}
			}

			& > .modal-body {
				padding: 25px $modal-padding-x;
				color: #000;
				font-size: 1.2em;

				i, a {
					color: global.$tertiary-4
				}

				& > .image-container > iframe {
					height: 150px;
				}

				& > .video-container,
				& > .image-container {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 10px;

					img,
					iframe {
						width: 90%;
					}

					i {
						margin-top: 5px;
					}
				}
			}

			& > .modal-footer {
				padding: $modal-padding-y $modal-padding-x;
				background-color: global.$primary-1;

				&.hidden {
					display: none;
				}
			}
		}

		/* Add Animation */
		@-webkit-keyframes animatetop {
			from {
				top: -300px;
				opacity: 0;
			}
			to {
				top: 0;
				opacity: 1;
			}
		}

		@keyframes animatetop {
			from {
				top: -300px;
				opacity: 0;
			}
			to {
				top: 0;
				opacity: 1;
			}
		}
	}
}
