@use '../global';
@use '../components/profile-panel';
@use '../components/skills-section';
@use '../components/experience-section';
@use '../components/portfolio-section';

body {
    background-color: #efefef;
}

section {
    padding: 10px;

    h2 {
        font-weight: 600;
        font-size: 1.625em;
        line-height: 39px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: global.$primary-2;
        border-bottom: solid #333;
    }
}


