@use '../../global';

@media only screen and (min-width: 768px) {
    .profile-panel {
        min-height: auto;
        flex-direction: row;

        & > img, & > div {
             width: 50%;
        }

        & > img {
            height: 415px;
        }

        .profile-infos {
            &.hidden {
                max-height: 5000px;
            }
        }

        button {
            display: none;
        }
    }
}