@use '../../global';
$experiences-width: 800px;

@media only screen and (min-width: 1200px) {
    .experiences, .experiences.hidden {
        padding-top: 20px;
        padding-left: 0;
        width: $experiences-width;
        margin: auto;


        &::after {
            left: 50%;
            top: 0;
            bottom: 0;
        }

        .experience {
            width: 325px;
            &.left {
                left: calc(#{$experiences-width} / 2 + 32px);
                .content {
                    border-left: solid 5px global.$secondary-3;
                }
            }

            &.right {
                left: calc(#{$experiences-width} / 2 - 325px - 32px);
                .content {
                    border-left: none;
                    border-right: solid 5px global.$secondary-3;

                    &::before {
                        left: auto;
                        right: -35px;
                    }
                }

                &::before {
                    left: auto;
                    right: -50px;
                }
            }
        }
    }
}
