.user-icon {
	background-image: url(../Assets/user_icon.svg);
}

.github-icon {
	background-image: url(../Assets/github-square-brands.svg);
}
.linkedin-icon {
	background-image: url(../Assets/linkedin-brands.svg);
}

.user-icon,
.github-icon,
.linkedin-icon {
	background-repeat: no-repeat;
	background-position: center;
	height: 40px;
	width: 40px;
	font-size: 40px;
	display: block;
}

.experience-icon {
	background-image: url(../Assets/experience_icon.svg);
}

.project-icon {
	background-image: url(../Assets/project_icon.svg);
}

.project-icon,
.experience-icon {
	background-repeat: no-repeat;
	background-position: center;
	height: 20px;
	width: 20px;
	font-size: 20px;
	display: block;
	align-self: center;
	background-size: cover;
	margin: 0 5px;
}
